/* $Id */
/*
    Tripoli is a generic CSS standard for HTML rendering. 
    Copyright (C) 2007 David Hellsing
    http://monc.se/tripoli/
*/

/*
-----------------------------
GENERIC
-----------------------------
*/

/* MAIN TYPOGRAPHY */

html { font-size: 62.5%; font-family: helvetica, "microsoft sans serif", arial, sans-serif; }
strong, th, thead td, h1, h2, h3, h4, h5, h6, dt { font-weight: bold; }
cite, em, dfn { font-style: italic; }
code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], .form-text, textarea { font-size: 92%; font-family: monaco, "Lucida Console", courier, mono-space; }
pre { white-space: pre; }
pre * { font-size: 100%; white-space: pre; }
del { text-decoration: line-through; color: #666; }
ins, dfn { border-bottom: 1px solid #ccc; }
small, sup, sub { font-size: 85%; }
big { font-size: 125%; line-height: 80%; }
abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }
a abbr, a acronym { border: none; }
abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px solid #ccc; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
a:link, a:visited, a:hover, a:active, a:focus { text-decoration: underline; }

/* QUOTES */

blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }
blockquote > *:before { content: "\201C"; }
blockquote > *:after { content: "\201D"; }

/* language specific quotes! */

q { quotes: "\201C" "\201D" "\2018" "\2019"; }
:lang(af), :lang(nl), :lang(pl) { quotes: '\201E' '\201D' '\201A' '\2019'; }
:lang(bg), :lang(cs), :lang(de), :lang(is), :lang(lt), :lang(sk), :lang(sr), :lang(ro) { quotes: '\201E' '\201C' '\201A' '\2018'; }
:lang(da), :lang(hr) { quotes: '\00BB' '\00AB' '\203A' '\2039'; }
:lang(el), :lang(es), :lang(sq), :lang(tr) { quotes: '\00AB' '\00BB' '\2039' '\203A'; }
:lang(en-GB) { quotes: '\2018' '\2019' '\201C' '\201D'; }
:lang(fi), :lang(sv) { quotes: '\201D' '\201D' '\2019' '\2019'; }
:lang(fr) { quotes: '\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a'; }

/* NOTE: safari refuses to support the quotes syntax. I only added the english language quotes for safari to save space. */
*[lang|='en'] q:before   { content: '\201C'; }
*[lang|='en'] q:after    { content: '\201D'; }
*[lang|='en'] q q:before { content: '\2018'; }
*[lang|='en'] q q:after  { content: '\2019'; }

/* FORMS */

fieldset { border: 1px solid #ccc; }
legend { background: #fff; }
textarea, input[type='text'], .form-text, select { border: 1px solid #ccc; background: #fff; }
textarea:hover, input[type='text']:hover, input[type='password']:hover, .form-text:hover, select:hover { border-color: #aaa; }
textarea:focus, input[type='text']:focus, input[type='password']:focus, .form-text:focus, select:focus { border-color: #888; outline: 2px solid #ccc; }
input, select, button { cursor: pointer; }
input[type='text'], input[type='password'], .form-text { cursor: text; }

/*
-----------------------------
CONTENT ONLY
-----------------------------
*/

/* BASE SIZES */

.typographic { font-size: 1.2em; line-height: 1.6em; }
.typographic h1 { font-size: 1.6em; }
.typographic h2 { font-size: 1.5em; }
.typographic h3 { font-size: 1.4em; }
.typographic h4 { font-size: 1.3em; }
.typographic h5 { font-size: 1.2em; }
.typographic h6 { font-size: 1em; }

/* HR */

.typographic hr { display: block; background: #aaa; color: #aaa; width: 100%; height: 1px; border: none; }

/* LISTS */

.typographic ul{list-style: disc outside;}
.typographic ol{list-style: decimal outside;}


/* MARGINS & PADDINGS */

.typographic hr, .typographic p, .typographic ul, .typographic ol, .typographic dl, .typographic pre, .typographic blockquote, .typographic address, .typographic form { margin-bottom: 1.6em; }
.typographic p+p { margin-top: -.8em; }
/* NOTE: Calulate header margins: TOP: line-height/size, BOTTOM: TOP/2 */
.typographic h1 { margin: 1em 0 .5em;  }
.typographic h2 { margin: 1.07em 0 .535em; }
.typographic h3 { margin: 1.14em 0 .57em; }
.typographic h4 { margin: 1.23em 0 .615em; }
.typographic h5 { margin: 1.33em 0 .67em; }
.typographic h6 { margin: 1.6em 0 .8em; }
.typographic th, .typographic td { padding: .8em; }
.typographic caption { padding-bottom: .8em; } /* padding instead of margin for IE */
.typographic blockquote { padding: 0 1em; margin: 1.6em 0; }
.typographic fieldset { padding: 0 1em 1em 1em; margin: 1.6em 0; } /* padding-top is margin-top for fieldsets in Opera */
.typographic legend { padding-left: .8em; padding-right: .8em; }
.typographic legend+* { margin-top: 1em; } /* compensates for the opera margin bug */
.typographic textarea, .typographic input { padding: .3em .4em .15em .4em; }
.typographic select { padding: .1em .2em 0 .2em; }
.typographic option { padding: 0 .4em .1em; }
.typographic a { position: relative; padding: 0.3em 0 .1em 0; } /* for larger click-area */
.typographic dt { margin-top: .8em; margin-bottom: .4em; }
.typographic ul, .typographic ol { margin-left: 2.2em; }
.typographic ul ul, content ol ul, .typographic ul ol, content ol ol { margin-bottom: 0; }
.typographic form div { margin-bottom: .8em; }
.typographic button { padding: 0.3em 0.5em; }
.typographic blockquote > * { margin: .8em 0; }

/* COLORS */

.typographic a:link { color: #36c; }
.typographic a:visited { color: #99c; }
.typographic a:hover { color: #c33; }
.typographic a:active, .typographic a:focus { color: #000; }
.typographic code, .typographic pre { color: #c33; } /* very optional, but still useful. W3C uses about the same colors for codes */