/*
    Tripoli is a generic CSS standard for HTML rendering. 
    Copyright (C) 2007 David Hellsing
    http://monc.se/tripoli/
*/
*{background:#fff}
body{font-family:georgia,times,serif;color:black}
blockquote{font-style:italic;color:black;}
a:link,a:visited{border-bottom-width:1px;border-bottom-style:solid}