/* $Id */
/******* La Republique CSS ************/

/* main structure */
#container { margin: auto; width: 75em; }
#content { float: left; width: 50em; }
#sidebar { float: left; width: 25em; margin-left: -25em; }
#content { border-right-width: 25em; }
#footer { clear: both; }

/* minor structure */

#top img { float: left; margin-right: 10px; }
#site-name { margin-top: 1em; }

#primary-links { clear: left; }
#primary-links li { padding: 0; }
#primary-links a { padding: .3em .85em; }
#primary-links a { height: 1.7em; }
#primary-links a { display: block; float: left; }
#primary-links a { line-height: 1.7em; }

#content-inner { margin-top: 2em; padding-right: 1em; }

#sidebar .block, #search-box { margin: .5em 1em 0; }
#sidebar ul { margin-left: 1em; }
#sidebar a:hover { color: #eef; text-decoration: none; font-style: italic; }
#content #title { margin: 0; padding: 0.4em 0.5em; }

div.item-list li { list-style: none; margin: 0; }

#footer { padding: 1em 0; }

/* colours and borders */

body { background: #fff; }

#sidebar { background: #001078; }
#content { border-color: #001078; border-right-style: solid; background: white; }

#primary-links { background: #000; }
#primary-links { border-top: solid #000 2px; }
#primary-links a { color: #fff; }
#primary-links a { border-right: solid #5f5f5f 1px; }
#primary-links a:hover {  background: #990000; }
#primary-links a.active { background: #d90000; }

#title, #title a { background: #d90000; color: #000; }

.mission { border: #fff dashed 1px; padding: .5em; margin: .5em 0; text-align: center; background: #001078; color: white; }

#content-inner table { table-layout: fixed; }
#content-inner table, #content-inner pre { width: 100%; overflow: auto; }

#sidebar, #sidebar a { color: #fff; }

#footer { background: #555; }
#footer, #footer a { color: #eee; }

/* typography */
#site-name a { text-decoration: none; }
#site-name { font-size: xx-large; margin: .5em 0 .3em; font-weight: bold; }
#slogan { font-size: small; }
#primary-links ul { font-size: small; }
#primary-links a { text-decoration: none; }
h1, #content h2, #content h3, #content h4, #content h5, #content h6, #site-name { font-variant: small-caps; }
#content-inner { font-size: 1.4em; }
#sidebar h2 { font-size: medium; }
#sidebar h3 { font-size: small; }
#content h1 { font-size: x-large; }
#footer { text-align: center; }
#footer { font-size: x-small; line-height: 1.7em; }



/******* Drupal CSS ************/

/* blocks */

.block-region { margin: 1em; background: transparent; border: 2px dashed #d90000; font-size: medium; padding: 1em; text-align: center; }

/* tabs */

ul.primary { margin: 0 0 .5em; }

/* RSS */

#content .feed-icon { float: right; }

/* node list */

.node { margin-bottom: 3em; }

/* comments */

#comments { margin: 1em 0 2em; border-top: 1px dashed #cce; }
.comment { border-bottom: 1px dashed #cce; }
.submitted { font-size: .8em; }
span.new { float: right; color: #990000; font-weight: bold; }

/* search */

#search-box { border : 1px #777 solid; background : #000; padding : 3px; margin: 5px 1em;  text-align: center; }
#search-box * { margin-bottom: 0; }

/* messages */

.messages { padding: 1em; }
.messages.status { border: 1px dashed #cce; background: #eee; }

/* pager */

.pager { border: #009 dashed 1px; border-width: 1px 0; padding: .5em 0; color: #d90000 !important; font-style: italic; }
.pager a { margin: 0 .3em; color: #333 !important; padding: .2em .4em; text-decoration: none; font-style: normal; }
.pager a:hover { background: #fdd; color: #900 !important; }
